@model IQueryable<Usuario>

@{
    @* Passando para a o layout o valor da variavel Subtitulo dessa view. *@
    ViewBag.Subtitulo = "Usuarios";
}

<h1 class="text-primary">CRUD com ASP.NET Core 5</h1>
<hr>
<a href="/Home/Cadastrar" class="btn btn-primary">Novo Usuários</a>
@if (TempData.ContainsKey("Excluiu"))
{
    var excluiu = (bool)TempData["Excluiu"];
    if(excluiu)
    {
        @* Importando o layout _Mensagem     e colocando o valor desejado nele. *@
        <partial name="_MensagemInfo" model="@("Usuário excluído com sucesso.")"></partial>
    }
    else
    {
        <partial name="_MensagemErro" model="@("Não foi possível excluir o usuário.")"></partial>    
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>
                    @*
                        asp-action indica qual ação será aberta por esse link, 
                    asp-rout-id é passado o ID para a rota. Isso é como se tivessemos 
                    escrevendo na barra de navegação do navegador. 
                    *@
                    <a asp-action="Cadastrar" asp-route-id="@u.IdUsuario"
                        class="btn btn-sm btn-secondary">Alterar</a>
                    <a asp-action="Excluir" asp-route-id="@u.IdUsuario"
                        class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*  Cada view que importar algo podera mudalo de acordo com a necessidade. 
    Importando a Section do layout *@
@section Scripts{
    @* Não esqueça de importar o JS do bootstrap 5 *@
    <script src="/lib/bootstrap5/dist/js/bootstrap.js"></script>
}

@section LogoPagina{
    <img src="/img/usuarios.png" height="24" class="d-inline-block align-text-bottom">
}